@media (max-width: 1320px) {
    .nav__main-list{
        width: 250px;
        .nav__list-item-button{
            font-size: 18px;
        }
    }
    .nav__sub-list{
        .nav__list-item-link{
            font-size: 14px;
        }
    }
}
@media (max-width: 1030px) {
    .nav__main-list{
        width: 200px;
    }
    .main__img_tools{
        @include figure-floating(right, 40%, 0 0 0 20px);
    }
    .main__img_time{
        @include figure-floating(left, 40%, 0 20px 0 0);
    }
    .main__img_emotions, .main__img_bucket-list{
        @include figure-floating(left, 50%, 0 20px 0 0);
    }
}
@media (max-width: 830px) {
    .nav__main-list{
        width: 170px;
        .nav__list-item-button{
            font-size: 16px;
        }
    }
    .nav__sub-list{
        .nav__list-item-link{
            font-size: 12px;
        }
    }
}
@media (max-width: 710px) {
    .hamburger-menu-button{
        display: block;
    }
    .nav__main-list{
        margin: 20px auto;
        width: 70%;
        .nav__list-item-button{
            text-align: center;
            font-size: 18px;
        }
        .nav__list-item-link{
            text-align: center;
            margin-left: 0;
            font-size: 14px;
        }
    }
    .nav__sub-list{
        margin: 0;
        width: calc(100% - 3px);
    }
    .nav, .nav_sticky{
        display: none;
        z-index: 120;
        position: fixed;
        top: 3px;
        left: 3px;
        width: calc(100% - 8px);
        height: calc(100% - 8px);
        margin-left: 0;
        min-height: calc(100% - 8px);
        max-height: calc(100% - 8px);
    }
    .header{
        width: 80%;
    }
    .main{
        float: none;
        width: 90%;
        margin: 0 auto;
    }
}

@media (max-width: 500px) {
    .main__figure_graph, .main__figure_example, .main__img_emotions, .main__img_bucket-list{
        @include figure-floating(none, 100%, 0);
    }
}
@media (max-width: 420px) {
    .footer__section-about, .footer__section-tags{
        width: 95%;
        display: block;
        margin: 0 auto;
    }
}
