@media (max-width: 1320px) {
    .aside__nav{
        width: 250px;
    }
    .aside__main-list{
        .aside__list-item-button{
            font-size: 18px;
        }
    }
    .aside__sub-list{
        .aside__list-item-link{
            font-size: 14px;
        }
    }
}
@media (max-width: 1030px) {
    .aside__nav{
        width: 200px;
    }
}
@media (max-width: 830px) {
    .aside__nav{
        width: 170px;
    }
    .aside__main-list{
        .aside__list-item-button{
            font-size: 16px;
        }
    }
    .aside__sub-list{
        .aside__list-item-link{
            font-size: 12px;
        }
    }
}
@media (max-width: 710px) {
    .hamburger-menu-button{
        display: block;
    }
    .aside__nav{
        margin: 0 auto;
        width: 80%;
        .aside__list-item-button{
            text-align: center;
            font-size: 18px;
        }
        .aside__list-item-link{
            text-align: center;
            margin-left: 0;
            font-size: 14px;
        }
    }
    .aside__sub-list{
        margin: 0;
        width: calc(100% - 3px);
    }
    .aside, .aside_sticky{
        display: none;
        z-index: 120;
        position: fixed;
        top: 3px;
        left: 3px;
        width: calc(100% - 8px);
        height: calc(100% - 8px);
        margin-left: 0;
        min-height: calc(100% - 8px);
        max-height: calc(100% - 8px);
    }
    .header{
        width: 80%;
    }
    .main{
        float: none;
        width: 90%;
        margin: 0 auto;
    }
}
@media (max-width: 420px) {
    .footer__section-about, .footer__section-tags{
        width: 95%;
        display: block;
        margin: 0 auto;
    }
}
