$midnight-blue: rgb(44, 62, 80);
$midnight-blue-lighter: rgb(84, 102, 120);
$clouds: rgba(236, 240, 241, 0.95);
$clouds-darker: rgb(169, 175, 179);
$wet-asphalt: rgb(52, 73, 94);
$wet-asphalt-darker: rgb(32, 53, 74);
$main-font: 'Yantramanav', sans-serif;

@import "normalize";

body{
    color: $clouds;
    background-color: $midnight-blue;
    font-family: $main-font;
}
.header{
    width: 85%;
    padding-left: 5%;
    padding-right: 5%;
    margin: 20px auto 5px auto;
    text-align: center;
    border-bottom: 1px solid $clouds-darker;
    .header__link{
        text-decoration: none;
        color: $clouds;
        &:hover{
            text-decoration: underline;
        }
        &:focus{
            text-decoration: underline;
            outline: none;
        }
    }
}
.aside{
    width: calc(25% - 7px);
    margin-left: 2.5%;
    margin-right: 5px;
    float: left;
    min-height: 300px;
    max-height: 480px;
    background-color: $clouds;
    border: 1px solid $clouds-darker;
    overflow: auto;
}
.aside__nav{
    margin-bottom: 20px;
    width: 320px;
}
.aside_sticky{
    position: fixed;
    top: 4px;
}
.hamburger-menu-button{
    z-index: 150;
    width: 25px;
    padding: 0;
    background-color: rgba(0,0,0,0);
    margin: 0;
    display: block;
    position: fixed;
    top: 20px;
    right: 5px;
    border: 0;
    display: none;
    cursor: pointer;
    opacity: 0.8;
    transition: 0.2s;
    .hamburger-icon{
        width: 100%;
    }
}
.main{
    width: calc(70% - 2px);
    margin-right: 2.5%;
    margin-bottom: 20px;
    float: left;
    min-height: 5000px;
    background-color: $wet-asphalt;
    border: 1px solid $wet-asphalt-darker;
}
.main__link{
    text-decoration: underline;
    color: $clouds-darker;
    font-weight: bold;
    &:hover{
        color: $clouds;
    }
    &:focus{
        color: $clouds;
    }
}
.main_position-fix{
    margin-left: 27.5%;
}
.main__list{
    list-style: square;
}
.progress{
    position: fixed;
    top: 0;
    border-bottom: 1px solid $midnight-blue;
    border-right: 1px solid $midnight-blue;
    z-index: 100;
    width: 0%;
    height: 2px;
    background-color: $clouds;
}
.footer{
    text-align: center;
    margin: 0 auto;
    padding-top: 40px;
    clear: both;
    width: 95%;
    min-height: 300px;
    border-top: 1px solid $clouds-darker;
}
.aside__list-item-link, .aside__list-item-button{
    display: block;
    text-decoration: none;
    color: $midnight-blue;
    background-color: rgba(0,0,0,0);
    transition: 0.3s;
    &:hover{
        background-color: $midnight-blue;
        color: $clouds;
    }
    &:focus{
        background-color: $midnight-blue;
        color: $clouds;
        outline: none;
    }
}
.aside__list-item_active{
    background-color: $midnight-blue-lighter;
    color: $clouds;
}
.aside__list-item_active-strong{
    background-color: $midnight-blue;
    color: $clouds;
}
.aside__main-list{
    display: block;
    margin: 20px 0 0 0;
    padding: 0;
    width: 100%;
    li{
        list-style: none;
        width: 80%;
        display: block;
        margin-left: 10%;
    }
    .aside__list-item-button{
        cursor: pointer;
        font-family: $main-font;
        box-sizing: border-box;
        text-align: left;
        border: 0;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 20px;
        width: 100%;
    }
}
.aside__sub-list{
    display: none;
    margin-left: 10%;
    padding: 0;
    width: calc(90% - 3px);
    border-left: 3px solid $midnight-blue;
    li{
        margin: 0;
        width: 100%;
        display: block;
    }
    .aside__list-item-link{
        font-size: 16px;
        padding-top: 3px;
        padding-bottom: 3px;
        width: 95%;
        padding-left: 5%;
    }
}
.main__article-heading, .main__sub-article-heading{
    text-align: center;
    padding: 10px 0;
}
.main__article{
    margin: 30px auto;
    width: 90%;
    clear: both;
}
.main__sub-article{
    width: 100%;
    margin: 20px 0;
    clear: both;
}
.main__text-paragraph{
    text-align: justify;
}
.main__fugure{
    text-align: center;
    padding: 0;
    .main__figcaption{
        padding: 2px;
        font-size: 14px;
    }
    .main__img{
        width: 100%;
    }
}
@mixin figure-floating($float, $width, $margin){
    float: $float;
    width: $width;
    margin: $margin;
}
.main__figure_example, .main__figure_graph{
    @include figure-floating(right, 50%, 0 0 0 20px);
}
.main__figure_tools{
    @include figure-floating(right, 20%, 0 0 0 20px);
}
.main__figure_time{
    @include figure-floating(left, 20%, 0 20px 0 0);
}
.main__figure_emotions, .main__figure_bucket-list{
    @include figure-floating(left, 35%, 0 20px 0 0);
}
.main__figure_start, .main__figure_meta{
    width: 100%;
    margin: 0;
}
@keyframes underlineHeading {
    0%{transform: scaleX(0); opacity: 0.5}
    50%{transform: scaleX(1.2); opacity: 0.9}
    100%{transform: scaleX(1); opacity: 1}
}
.heading_underline{
    display: block;
    transform: scaleX(1);
    outline: 1px solid $clouds;
    margin: 0 auto;
    opacity: 0;
}
.footer__social-media-list{
    list-style: none;
    margin: 20px auto;
    padding: 0;
    display: block;
    width: 100%;
    text-align: center;
}
.footer__social-media-element{
    cursor: pointer;
    display: inline-block;
    margin: 10px;
    width: 50px;
    img{
        transition: transform 0.6s;
    }
    &:hover{
        img{
            transform: rotateY(180deg);
        }
    }
    a{
        &:focus{
            outline: none;
            border-bottom: 1px solid $clouds-darker;
            img{
                transform: rotateY(180deg);
            }
        }
    }
}
.footer__section-about, .footer__section-tags{
    width: 400px;
    display: inline-block;
    vertical-align: top;
}
.footer__text-paragraph{
    font-size: 12px;
}
@import 'tag-cloud';
@import 'responsive';
